# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio files
.vs/

# Packages
**/packages/*

# Logs
*.log

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# OS-specific files
Thumbs.db
Desktop.ini